body {
font-family:Helvetica;
}

h1 {
border: solid 1px;
display: inline;
border-radius: 5px;
background-image: linear-gradient(lightGreen, darkGreen);
}

#intro {
    font-size: 140%;
    border-bottom: 4px solid #8bbf75; 
    display: inline-block;
    padding-bottom: 5px;
    background-color:#c4e0b8;
    margin-top: -10px;
    border-radius: 7px;
}

h2 {
border: solid 2px;
border-bottom: 0px;
border-radius: 5px;
width: 142px;
}

